<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxiaochen.lshop.dao.LogAdminMapper">
  <resultMap id="BaseResultMap" type="com.luxiaochen.lshop.entity.LogAdmin">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="admin_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="uuid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="operate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="object" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="origin_content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="new_content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="error_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="error_info" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, admin_id, uuid, time, operate, object, origin_content, new_content, error_code, 
    error_info
  </sql>
  <select id="selectByExample" parameterType="com.luxiaochen.lshop.entity.LogAdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from log_admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.luxiaochen.lshop.entity.LogAdminExample">
    delete from log_admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.luxiaochen.lshop.entity.LogAdmin">
    insert into log_admin (id, admin_id, uuid, 
      time, operate, object, 
      origin_content, new_content, error_code, 
      error_info)
    values (#{id,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{uuid,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{operate,jdbcType=VARCHAR}, #{object,jdbcType=VARCHAR}, 
      #{originContent,jdbcType=VARCHAR}, #{newContent,jdbcType=VARCHAR}, #{errorCode,jdbcType=VARCHAR}, 
      #{errorInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.luxiaochen.lshop.entity.LogAdmin">
    insert into log_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="operate != null">
        operate,
      </if>
      <if test="object != null">
        object,
      </if>
      <if test="originContent != null">
        origin_content,
      </if>
      <if test="newContent != null">
        new_content,
      </if>
      <if test="errorCode != null">
        error_code,
      </if>
      <if test="errorInfo != null">
        error_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null">
        #{operate,jdbcType=VARCHAR},
      </if>
      <if test="object != null">
        #{object,jdbcType=VARCHAR},
      </if>
      <if test="originContent != null">
        #{originContent,jdbcType=VARCHAR},
      </if>
      <if test="newContent != null">
        #{newContent,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorInfo != null">
        #{errorInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.luxiaochen.lshop.entity.LogAdminExample" resultType="java.lang.Long">
    select count(*) from log_admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update log_admin
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.uuid != null">
        uuid = #{record.uuid,jdbcType=INTEGER},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operate != null">
        operate = #{record.operate,jdbcType=VARCHAR},
      </if>
      <if test="record.object != null">
        object = #{record.object,jdbcType=VARCHAR},
      </if>
      <if test="record.originContent != null">
        origin_content = #{record.originContent,jdbcType=VARCHAR},
      </if>
      <if test="record.newContent != null">
        new_content = #{record.newContent,jdbcType=VARCHAR},
      </if>
      <if test="record.errorCode != null">
        error_code = #{record.errorCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errorInfo != null">
        error_info = #{record.errorInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update log_admin
    set id = #{record.id,jdbcType=INTEGER},
      admin_id = #{record.adminId,jdbcType=INTEGER},
      uuid = #{record.uuid,jdbcType=INTEGER},
      time = #{record.time,jdbcType=TIMESTAMP},
      operate = #{record.operate,jdbcType=VARCHAR},
      object = #{record.object,jdbcType=VARCHAR},
      origin_content = #{record.originContent,jdbcType=VARCHAR},
      new_content = #{record.newContent,jdbcType=VARCHAR},
      error_code = #{record.errorCode,jdbcType=VARCHAR},
      error_info = #{record.errorInfo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.luxiaochen.lshop.entity.LogAdmin">
    update log_admin
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null">
        operate = #{operate,jdbcType=VARCHAR},
      </if>
      <if test="object != null">
        object = #{object,jdbcType=VARCHAR},
      </if>
      <if test="originContent != null">
        origin_content = #{originContent,jdbcType=VARCHAR},
      </if>
      <if test="newContent != null">
        new_content = #{newContent,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        error_code = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorInfo != null">
        error_info = #{errorInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxiaochen.lshop.entity.LogAdmin">
    update log_admin
    set admin_id = #{adminId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      operate = #{operate,jdbcType=VARCHAR},
      object = #{object,jdbcType=VARCHAR},
      origin_content = #{originContent,jdbcType=VARCHAR},
      new_content = #{newContent,jdbcType=VARCHAR},
      error_code = #{errorCode,jdbcType=VARCHAR},
      error_info = #{errorInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>